body{
  background-color: fixed;
}

.form-segment {
  background-color: #C78E28 ;
  border-radius:20px ;
  padding: 2em ;
  width: 5  00px;
  margin: 0 auto;
  height: auto;
}

.divider-lateral {
  border-right: 2px solid #d4d4d5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-ajustada {
  max-width: 600px;
  margin: 0 auto;
}

.save-button {
  background-color: hwb(0 7% 93%) !important;
  color: white !important;
  font-weight: bold;
}

.save-button:hover {
  background-color: #fff9f9 !important;
}

